<template>
  <section class="todo">
    <input
      class="todo__input"
      autofocus autocomplete="off"
      placeholder="Enter your new task here"
      ref="search"
      v-model="taskTitle"
      @keyup.enter="addTask"
      :disabled="isAddingTask">

    <ul class="todo__list" v-if="items.length">
      <li v-for="item in items"
        class="todo__list-item"
        :key="item.id">
        <input type="checkbox" v-model="item.completed">
        {{ item.title }}
      </li>
    </ul>

    <footer class="todo__footer">
      <span v-if="remainingTaskCount">{{ remainingTaskCount }} tasks to do</span>
      <span v-else>Nothing to do!</span>
      <LoadingSpinner v-if="isLoading"/>
    </footer>
  </section>
</template>

<script>
import axios from 'axios'
import LoadingSpinner from './LoadingSpinner.vue'

export default {
  components: {
    LoadingSpinner
  },

  data () {
    return {
      isAddingTask: false,
      isLoadingList: false,
      items: [],
      taskTitle: ''
    }
  },

  computed: {
    remainingTaskCount () {
      return this.items.filter((item) => !item.completed).length
    },

    isLoading () {
      return this.isAddingTask || this.isLoadingList
    }
  },

  methods: {
    addTask () {
      var that = this
      let task = {
        title: this.taskTitle
      }
      this.isAddingTask = true
      axios
        .post('http://localhost:8000/api/v1/tasks', task)
        .then(response => {
          that.items.push(response.data)
          that.taskTitle = ''
          that.isAddingTask = false
          that.$nextTick().then(() => {
            that.$refs.search.focus()
          })
        })
    }
  },

  created () {
    var that = this
    this.isLoadingList = true
    axios
      .get('http://localhost:8000/api/v1/tasks')
      .then(response => {
        that.items = response.data.result
        that.isLoadingList = false
      })
  }
}
</script>

<style lang="scss">
.todo {
  background-color: #fff;
  border-radius: .125rem;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: auto;
  max-width: 700px;

  &__input {
    background-color: #fff;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 20px;
    width: 100%;

    &:disabled {
      background-color: #F7F6F9;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-item {
    list-style: none;
    padding: 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
</style>
